<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mprice.mptodo" >

    <application
        android:name=".MPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MPMainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/m_splash"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity android:name=".MPEditItemActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".MPSplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
